<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <!-- Can not resolve directory <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
    <link rel="stylesheet" href="../../../static/css/style.css">

    {% if title %}
        <title>Brick club - {{ title }}</title>
    {% else %}
        <title>Brick club</title>
    {% endif %}

    <!-- Crunch time!
    {% if title == 'Reset Password' %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endif %}-->

</head>

<body>
    <nav>
        <div class="logo">
            <h4>Brick Club</h4>
        </div>

        <ul class="nav-links">
            <li><a class="nav-link" href="{{ url_for('main.home') }}">Home</a></li>
            <li><a class="nav-link" href="{{ url_for('main.catalog') }}">Sets</a></li>
            <li><a class="nav-link" href="{{ url_for('main.about') }}">About</a></li>

            {% if current_user.is_authenticated %}
                <li><a class="nav-link" href="{{ url_for('main.profile') }}">{{ current_user.username }}</a></li>
                <li><a class="nav-link" href="{{ url_for('users.sign_out') }}">Sign Out</a></li>
            {% else %}
                <li><a class="nav-link" href="{{ url_for('users.sign_in') }}">Sign In</a></li>
                <li><a class="nav-link" href="{{ url_for('users.sign_up') }}">Sign Up</a></li>
            {% endif %}
        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>


    <main role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages%}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>

    <!-- Can not resolve directory <script src="{{ url_for('static', filename='js/app.js') }}"></script>-->
    <script src="../../../static/js/nav_bar_script.js"></script>

</body>
</html>



