body {
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.navbar {
  border-bottom: 1px solid #dddddd;
  border-radius: 3px;
}




/* Posts styles on home page */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}


/* Profile page */
.profile-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.profile-info {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.profile-heading {
  font-size: 2.5rem;
}

.profile-cart-header {
  margin-top: 20px;
}

.profile-history-header{

}


/* Comment section o posts*/
.comment-section {
  margin-left: 20px;
  padding: 0 0 0 0;
}

.comments-title {
  text-align:left;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 0px;
}

.comment {
  border-bottom:1px solid #e3e3e3;
  padding:0px 0px;
  margin-top: 5px;
  margin-right: 20px;
}

.comment-new {
  margin-top: 20px;
  margin-right: 20px;
}

.comment-text {
  margin-bottom: 0px;
}

.comment-line {
  margin: 0 0;
}

.comment-profile-img {
  height: 75px;
  width: 75px;
  /*margin-top: 10px;*/
}

.comment-field {
  border: 1px solid #e0e0e0;
  margin-left: 15px;
  margin-right: 10px;
  height: 75px;
  color: grey;
  overflow: auto;
}

.comment-field:hover {
  border: 1px solid #9e9e9e;
}

.comment-field:active {
  border: 1px solid #9e9e9e;
}



/* Cards styles on catalog page */
.card-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.card-article {
  color: #444444;
}

a.card-article:hover {
  color: #428bca;
  text-decoration: none;
}

.card-name {
  color: #444444;
}

a.card-name:hover{
  color: #428bca;
  text-decoration: none;
}

.card-price{
}