{% extends "public/templates/public_template.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-12">
        {% for post in posts %}
            <div class="content-section">

                <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                    <h4><a class="article-title" href="#">{{ post.title }}</a></h4>
                    <p class="article-content">{{ post.content }}</p>
                </div>

                {% for comment in comments %}
                    <div class="comment-section">
                        <a class="comment-author" href="#">{{ comment.author }}</a>
                        <p class="comment-content">{{ comment.text }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}