{% extends "public/templates/public_template.html" %}

{% block title %}Post{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-12">
        <div class="content-section">

            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h4><a class="article-title" href="{{ url_for('posts.show_post', post_id=post.id) }}">{{ post.title }}</a></h4>
                <p class="article-content">{{ post.content }}</p>
            </div>

            <p class="comments-title">Comments</p>
            <div class="comment-section col">
                {% if post.comments  %}
                    {% if post.comments.count() > 0 %}
                        {% for comment in post.comments %}
                            <div class="comment row">
                                <img class="rounded-circle comment-profile-img" src="{{ url_for('static', filename='img/profile_pics/' + comment.user.image_file) }}">
                                <div class="comment-content col">
                                    <a class="comment-author">{{ comment.user.username }}</a>
                                    <p class="comment-text">{{ comment.text }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif%}
                {% endif %}
            </div>

            <div class="comment-new-section row">
                {% if current_user.is_authenticated %}

                    <img class="rounded-circle comment-profile-img" src="{{ url_for('static', filename='img/profile_pics/' + current_user.image_file) }}">

                    <form class="row" method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {% if form.text.errors %}
                                {{ form.text(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.text.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                            {% else %}
                                {{ form.text(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                {% endif %}
            </div>


        </div>
    </div>
</div>
{% endblock %}